@import "tailwindcss";

.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 20px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}

#messages-ctn::-webkit-scrollbar {
	background-color: transparent;
	width: 8px;
}
#messages-ctn::-webkit-scrollbar-thumb {
  background-color: #707991;
  border-radius: 8px;
} 